<div class="footer_container">

   <ul>
     <li><h4>Services</h4></li>
     <li><%= link_to "Bible", bible_path %></li>
     <li><%= link_to "Scriptures", scripture_path %></li>
     <li><%= link_to "Pictures", pictures_path %></li>
   </ul>
   
   <ul class="middle_list">
     <li><h4>Information</h4></li>
     <li><%= link_to "About Us", about_path %></li>
     <li><%= link_to "Contact Us", contact_path %></li>
     <li><%= link_to "Services", service_path %></li>
   </ul>
   
   <ul>
     <li><h4>Community</h4></li>
     <li><a href="http://blog.6cents.co.za/" target="_blank">Blog</a></li>
     <li><a href="https://twitter.com/6cents_tweet/">Twitter</a></li>
     <li><a href="https://facebook.com">Facebook</a></li>
   </ul>
   
</div>